<div class="xx-cart-item mb-4" data-item-key="{{ item.key }}">
  <div class="row gx-0">
    <div class="col-3">
      <a href="{{ item.url | within: collections.all }}">
        <img class="xx-cart-item__image img-fluid" loading="lazy" width="{{ item.image.width }}" height="{{ item.image.height }}" src="{{ item.image | img_url: '100x', scale: 2 }}" alt="{{ item.title | escape }}">
      </a>
    </div>
    <div class="col ms-3">
      <a class="xx-cart-item__remove-btn float-end" href="{{ item.url_to_remove }}"><i class="bi bi-x"></i></a>

      <div class="mb-2">
        <a class="xx-cart-item__product-title lh-sm" href="{{ item.url }}">{{ item.product.title }}</a><br>
        {% unless item.product.has_only_default_variant %}
        <span class="xx-cart-item__variant-title small d-inline-block lh-sm">{{ item.variant.title }}</span>
        {% endunless %}
      </div>

      <div class="row">
        <div class="col-auto">
          <input class="xx-cart-item__qty form-control form-control-sm text-center" type="number" min="1" max="9" name="updates[]" value="{{ item.quantity }}">
        </div>
        <div class="col">
          <div class="xx-cart-item__price text-end">
            {% if item.original_line_price > item.final_line_price %}<s>{{ item.original_line_price | money_without_trailing_zeros }}</s> {% endif %}{{ item.final_line_price | money_without_trailing_zeros }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
