<div class="offcanvas offcanvas-start" tabindex="-1" id="filters-drawer" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">{{ 'layout.product_filter.drawer_header' | t }}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="{{ 'layout.product_filter.close_button' | t }}"></button>
  </div>
  <div class="offcanvas-body">
    <form class="filter-form mx-3 pb-5">
      {%- for filter in collection.filters -%}
      {% if filter.values.size > 1 %}
        <div class="filter-group">
          {% comment %} name of filter {% endcomment %}
          <div class="filter-group__summary mb-3">
            <h6>{{ filter.label }}</h6>
          </div>

          <div class="filter-group__display">
            {% comment %} render list filters {% endcomment %}
            {%- for filter_value in filter.values -%}
            <div class="form-check mb-3">
              <input type="checkbox"
                class="form-check-input"
                name="{{ filter_value.param_name }}"
                value="{{ filter_value.value }}"
                id="Filter-drawer-{{ filter.label }}-{{ forloop.index }}"
                {% if filter_value.active -%}checked{%- endif %}
                {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
              >
              <label class="form-check-label d-flex justify-content-between" for="Filter-drawer-{{ filter.label }}-{{ forloop.index }}">{{ filter_value.label }} <span>{{ filter_value.count }}</span></label>
            </div>
            {%- endfor -%}
          </div>
          <hr>
        </div>
      {% endif %}
      {%- endfor -%}

      <div class="active-filters position-fixed bottom-0 start-0 end-0 px-3 pt-3" style="background-color: white; padding-bottom: calc(1rem + env(safe-area-inset-bottom));">
        <div class="d-flex">
          <a class="active-filters__clear me-3 flex-fill btn btn-sm btn-outline-secondary" href="{{ collection.url }}">{{ 'layout.product_filter.clear_button' | t }}</a>
          <button class="active-filters__apply flex-fill btn btn-sm btn-primary" type="submit">{{ 'layout.product_filter.apply_button' | t }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
