<div class="container-fluid">
  <div class="row">
    <div class="col-3 gx-0">
      <a href="{{ item.url | within: collections.all }}">
        <img class="img-fluid" loading="lazy" width="{{ item.image.width }}" height="{{ item.image.height }}" src="{{ item.image | img_url }}" alt="{{ item.title | escape }}">
      </a>
    </div>
    <div class="col pe-0">
      <a class="float-end" href="/cart/change?line={{ position }}&amp;quantity=0"><i class="bi bi-x-lg"></i></a>

      <div class="mb-2">
        <a href="{{ item.url }}">{{ item.product.title }}</a><br>
        {% unless item.product.has_only_default_variant %}
        <span class="small">{{ item.variant.title }}</span>
        {% endunless %}
      </div>

      <div class="row">
        <div class="col">
          <div class="input-group input-group-sm">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">&plus;</button>
            <span class="input-group-text">{{ item.quantity }}</span>
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">&minus;</button>
          </div>
        </div>
        <div class="col">
          <div class="text-end">
            {% if item.original_line_price != item.line_price %}<span class="text-decoration-line-through">{{ item.original_line_price | money }}</span> {% endif %}{{ item.line_price | money }}
          </div>
        </div>
      </div>

      <div>
        {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
      </div>
    </div>
  </div>
</div>
<hr>
