<div class="offcanvas offcanvas-end" tabindex="-1" id="cart-drawer" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">{{ 'layout.cart.drawer_header' | t }}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="{{ 'layout.cart.close_button' | t }}"></button>
  </div>
  <div class="offcanvas-body">

    {% if cart.item_count > 0 %}

    <form action="{{ routes.cart_url }}" method="post">
      <div class="cart__items">
        {% for item in cart.items %}
          {% render 'cart-item' item: item %}
        {% endfor %}
      </div>
      <div class="cart__updater my-3 text-center">
        <input class="btn btn-secondary" type="submit" value="{{ 'layout.cart.update_button' | t }}">
      </div>

      {% render 'cart-summary' links: section.settings.main_menu.links %}
    </form>

    {% else %}
      <p class="text-center">{{ 'layout.cart.empty_cart' | t }}</p>
      <div class="mb-3 text-center">
        {% for link_lv1 in linklists.main-menu.links %}
        <a class="btn btn-outline-secondary" href="{{ link_lv1.url }}">{{ link_lv1.title }}</a>
        {% endfor %}
      </div>
    {% endif %}

  </div>
</div>
