{% unless collection.filters == empty %}
<form>
  <div class="row mb-3 align-items-center">
    <div class="col-auto">Browse by: </div>

    <div class="col-auto">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" id="filter-{{ filter.label | handleize }}" data-bs-toggle="dropdown" data-bs-auto-close="outside" type="button" aria-expanded="false">Colour</button>

        <ul class="dropdown-menu" aria-labelledby="filter-{{ filter.label | handleize }}">
          {% for colour_tag in linklists.phone-colour-tags.links %}
            <li>
              <a class="dropdown-item" href="{{ colour_tag.url }}">
                {{ colour_tag.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-auto">Filters: </div>

    {%- for filter in collection.filters -%}
    <div class="col-auto gx-2">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" id="filter-{{ filter.label | handleize }}" data-bs-toggle="dropdown" data-bs-auto-close="outside" type="button" aria-expanded="false">{{ filter.label }}</button>

        <ul class="dropdown-menu" aria-labelledby="filter-{{ filter.label | handleize }}">
          {%- for filter_value in filter.values -%}
            <li>
              <div class="dropdown-item">
                <div class="form-check">
                  <input type="checkbox"
                    class="form-check-input"
                    name="{{ filter_value.param_name }}"
                    value="{{ filter_value.value }}"
                    id="Filter-nav-{{ filter.label }}-{{ forloop.index }}"
                    {% if filter_value.active -%}checked{%- endif %}
                    {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                  >
                  <div class="d-flex justify-content-between">
                    <label class="form-check-label" for="Filter-nav-{{ filter.label }}-{{ forloop.index }}">{{ filter_value.label }}</label>
                    <span class="badge bg-light text-dark">{{ filter_value.count }}</span>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>

      </div>
    </div>
    {% endfor %}

    <div class="col-auto">
      <button class="btn btn-primary" type="submit">Apply</button>
      <a class="btn btn-link" href="{{ collection.url }}">Clear all</a>
    </div>
  </div>
</form>
{% endunless %}