<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
  {% for product in products %}
  <div class="col mb-3">
    <div class="card h-100">
      <img class="card-img-top" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
      <div class="card-body">
        <h5 class="card-title"><a class="stretched-link" href="{{ product.url | within: collection }}">{{ product.title }}</a></h5>
        <p class="card-text">{{ product.price | money }}
        {% unless product.available %}<br><strong>sold out</strong>{% endunless %}</p>
      </div>
    </div>
  </div>
  {% else %}
  <p>no matches</p>
  {% endfor %}
</div>