<!-- /templates/customers/account.liquid -->
<div class="container">
  <div class="row mb-3">

    {% render 'account-nav.liquid' %}

    <h2 class="mb-3">Welcome back, {{ customer.first_name | capitalize }}</h2>

    <p><a href="{{ routes.root_url }}">Go to the shop</a> | <a href="https://support.xouxou.com">Get help</a> | <a href="{{ routes.account_logout_url }}">Log out</a></p>

  </div>

  <div class="row">
    <div class="col-sm-4 mb-3">
      <h2>Your Details</h2>

      <div class="card mb-3">
        <div class="card-body">
          <p>{{ customer.name }}</p>
          <p>{{ customer.email }}</p>
          {% if customer.default_address %}
            {% render 'address', address: customer.default_address %}
          {% else %}
            <p>You have not created an address yet.</p>
          {% endif %}
        </div>
      </div>

      <p><a href="{{ routes.account_addresses_url }}">Go to your addressbook</a></p>

    </div>

    <div class="col">
      <h2>Orders</h2>

      <div id="customer_orders">
        {% paginate customer.orders by 10 %}
        {% if customer.orders.size != 0 %}
          {% for order in customer.orders %}
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><a href="{{ order.customer_url }}" class="stretched-link"></a>{{ order.name }}</h5>
                <p><span class="badge bg-primary">{{ order.financial_status_label }}</span> <span class="badge bg-primary">{{ order.fulfillment_status_label }}</span></p>
                <p>{{ order.created_at | date: "%a, %b %d, %Y" }}</p>
                <p>{{ order.total_price | money }}</p>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>You haven't placed any orders yet.</p>
        {% endif %}

        {% render 'pagination', paginate: paginate %}

        {% endpaginate %}
      </div>
    </div>

  </div>
</div>
