<!-- /templates/customers/addresses.liquid -->
<div class="container">
  <div class="row mb-3">
    <div class="col">

      {% render 'account-nav' %}

      <h2>Your Addresses</h2>

    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-4 mb-3">
      <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#address-new">Add a new address</button>

      <div class="collapse mb-3" id="address-new">
        {% form 'customer_address', customer.new_address %}
          {{ form.errors | default_errors }}
          {% render 'address-form', address: customer.new_address %}
        {% endform %}
      </div>
    </div>

    <div class="col">
      {% for address in customer.addresses %}
      <div class="card mb-3">
        <div class="card-body">

          {% render 'address', address: address %}

          <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#address-{{ address.id }}">Edit</button>

          <form class="d-inline-block address-delete-form" method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" class="btn btn-link">Delete</button>
          </form>

        </div>
      </div>

      <div class="collapse mb-3" id="address-{{ address.id }}">
      {% form 'customer_address', address %}
        {{ form.errors | default_errors }}
        {% render 'address-form', address: address %}
      {% endform %}
      </div>
      {% else %}
        <p>Hmm, you don't have any addresses yet.</p>

      {% endfor %}
    </div>
  </div>
</div>
