{% if section.settings.title %}<h2 class="text-center mb-3">{{ section.settings.title }}</h2>{% endif %}

<div>
  <div class="row gx-0">
    {% for block in section.blocks %}
    <div class="col-sm mb-3">
      <a href="{{ block.settings.link_url }}" target="_blank" rel="noopener">
        <img class="img-fluid" loading="lazy" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" alt="{{ block.settings.image.alt | escape }}" src="{{ block.settings.image | img_url: '360x360', scale: 2, crop: 'center' }}">
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% if section.settings.cta_url %}
<div class="text-center mt-3">
  <a class="btn btn-outline-secondary" href="{{ section.settings.cta_url }}" target="_blank" rel="noopener">{{ section.settings.cta_label }}</a>
</div>
{% endif %}

{% schema %}
{
  "name": "Image Grid",
  "class": "image-grid",
  "blocks": [
    {
      "type": "card",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image (Square 1:1)"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "id": "cta_label",
      "type": "text",
      "label": "Button Label"
    },
    {
      "id": "cta_url",
      "type": "url",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Image Grid",
      "category": "Repeatable Blocks"
    }
  ]
}
{% endschema %}