<hr class="my-5 invisible">

<footer class="pb-5">
  <div class="container px-4 px-sm-3">
    <div class="row gx-5">
      <div class="col-sm-2 mb-5">
        <h5>{{ section.settings.company_menu.title }}</h5>
        {% render 'linklist-flush', list: section.settings.company_menu %}
      </div>

      <div class="col-sm-2 mb-5">
        <h5>{{ section.settings.support_menu.title }}</h5>
        {% render 'linklist-flush', list: section.settings.support_menu %}
      </div>

      <div class="col-sm mb-5">
        <h5>{{ section.settings.mailinglist_headline }}</h5>
        <p>{{ section.settings.mailinglist_description }}</p>
        {% if settings.klaviyo_footer_form %}
          <a class="btn btn-outline-secondary" href="#signup">{{ section.settings.mailinglist_cta }}</a>
        {% else %}
          {% form 'customer' %}
            <div class="input-group mb-3">
              <input class="form-control" type="email" name="email" placeholder="{{ 'layout.footer.email_placeholder' | t }}" required="required">
              <button class="btn btn-primary" type="submit">{{ section.settings.mailinglist_cta }}</button>
            </div>
          {% endform %}
        {% endif %}
      </div>

      <div class="col-sm mb-5">
        <h5>{{ section.settings.social_headline }}</h5>
        <p>{{ section.settings.social_description }}</p>
        {% render 'linklist-inline', list: section.settings.social_menu %}
      </div>

      <div class="col-sm-2">
        <h5>{{ section.settings.store_menu.title }}</h5>
        <div class="mb-3">
        {% for link_lv1 in section.settings.store_menu.links %}
        <a class="btn btn-outline-secondary flex-fill" href="{{ link_lv1.url }}">{{ link_lv1.title }}</a>
        {% endfor %}
        </div>

        <h5>Currency</h5>
        {% render 'locale-currency-selector' %}

        <h5>Language</h5>
        {% render 'locale-language-selector' %}
      </div>

    </div>
  </div>

  <hr class="my-5 invisible">

  <p class="text-center px-4">
    &copy; {{ "now" | date: "%Y" }} {{ section.settings.copyright }}
    {% for link_lv1 in section.settings.legal_menu.links %}
    <a href="{{ link_lv1.url }}" class="text-nowrap">{{ link_lv1.title }}</a>{% unless forloop.last %}, {% else %}.{% endunless%}
    {% endfor %}
  </p>
</footer>

{% javascript %}
var localizationFormSubmit = function(event) {
  event.target.form.submit();
}

document.querySelectorAll('.shopify-localization-form select').forEach(function(element) {
  element.addEventListener('change', localizationFormSubmit);
});
{% endjavascript %}

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Corporate Info"
    },
    {
      "type": "link_list",
      "id": "company_menu",
      "label": "Company menu",
      "info": "Links to corporate and professional info"
    },
    {
      "type": "header",
      "content": "Customer Support"
    },
    {
      "type": "link_list",
      "id": "support_menu",
      "label": "Support menu",
      "info": "Links customer support and self-help options"
    },
    {
      "type": "header",
      "content": "Mailing List"
    },
    {
      "type": "text",
      "id": "mailinglist_headline",
      "label": "Mailing List Headline",
      "default": "Subscribe"
    },
    {
      "type": "text",
      "id": "mailinglist_description",
      "label": "Mailing List Description",
      "default": "Join our mailing list to get 10% off your first order."
    },
    {
      "type": "text",
      "id": "mailinglist_cta",
      "label": "Mailing List CTA",
      "default": "Sign up"
    },
    {
      "type": "header",
      "content": "Social Media"
    },
    {
      "type": "text",
      "id": "social_headline",
      "label": "Social Headline",
      "default": "Follow Us"
    },
    {
      "type": "text",
      "id": "social_description",
      "label": "Social Description",
      "default": "Keep in touch via social media for more offers and inspiration to #keepyourhandsfree"
    },
    {
      "type": "link_list",
      "id": "social_menu",
      "label": "Social menu",
      "info": "Links to company social media profiles"
    },
    {
      "type": "header",
      "content": "Localisation Controls"
    },
    {
      "type": "link_list",
      "id": "store_menu",
      "label": "Store menu",
      "info": "Links to other regional stores"
    },
    {
      "type": "header",
      "content": "Legal Info"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Copyright notice",
      "default": "Company name. All rights reserved."
    },
    {
      "type": "link_list",
      "id": "legal_menu",
      "label": "Legal menu",
      "info": "Links to terms, policies, imprint, etc.",
      "default": "footer"
    }
  ]
}
{% endschema %}
