<div class="masthead__wrapper text-center" id="masthead-{{ section.id }}">
  <div class="d-flex flex-column justify-content-center align-items-center vh-100 px-5">
    <h2 class="display-1">{{ section.settings.headline }}</h2>
    {% if section.settings.subline %}<p class="lead">{{ section.settings.subline }}</p>{% endif %}
    {% if section.settings.cta_url %}<a class="btn btn-primary btn-lg" href="{{ section.settings.cta_url }}">{{ section.settings.cta_label }}</a>{% endif %}
  </div>
</div>

<style type="text/css">
  #masthead-{{ section.id }} {
    background-image: url('{{ section.settings.image_portrait | img_url: "414x736", scale: 2, crop: "center" }}');
  }

  @media screen and (min-width: 769px) {
    #masthead-{{ section.id }} {
      background-image: url('{{ section.settings.image_landscape | img_url: "1440x900", scale: 2, crop: "center" }}');
    }
  }
</style>

{% stylesheet %}
  .masthead__wrapper {
    background-size: cover;
    background-position: center;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Image Masthead",
  "class": "image-masthead",
  "settings": [
    {
      "id": "image_portrait",
      "type": "image_picker",
      "label": "Image (Portrait 9:16)"
    },
    {
      "id": "image_landscape",
      "type": "image_picker",
      "label": "Image (Landscape 16:9)"
    },
    {
      "id": "headline",
      "type": "text",
      "label": "Headline"
    },
    {
      "id": "subline",
      "type": "text",
      "label": "Subline"
    },
    {
      "id": "cta_label",
      "type": "text",
      "label": "Button Label"
    },
    {
      "id": "cta_url",
      "type": "url",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "Image Masthead",
      "category": "Content"
    }
  ]
}
{% endschema %}
